<IfModule mod_ssl.c>
   <VirtualHost _default_:443>
      ServerName %HOST%
      ServerAdmin %WEBMASTER_ADDRESS%

      DocumentRoot /var/www/%HOST%/html

      ErrorLog ${APACHE_LOG_DIR}/error.ssl.log
      CustomLog ${APACHE_LOG_DIR}/access.ssl.log combined

      SSLEngine on
      SSLCompression Off

      SSLCertificateFile    %CERTIFICATE_FILE%
      SSLCertificateKeyFile %CERTIFICATE_KEY%

#sslOnly#      Header always set Strict-Transport-Security "max-age=63072000; includeSubdomains;"

      RequestHeader set "X-Forwarded-Proto" expr=%{REQUEST_SCHEME}
      RequestHeader set "X-Forwarded-SSL" expr=%{HTTPS}

      RewriteEngine On
      
#AlfrescoShare#      RewriteRule    ^/share/(.*)/proxy/alfresco/api/solr/(.*)$   -   [F]
#AlfrescoShare#      RewriteRule    ^/share/-default-/proxy/alfresco/api/(.*)$   -   [F]

      RewriteRule    ^/alfresco/(s|service|wcs|wservice)/api/solr/(.*)$   -   [F]

#AlfrescoShareDefault#      RewriteCond    %{REQUEST_METHOD}   ^GET$
#AlfrescoShareDefault#      RewriteRule    ^/$ https://%{HTTP_HOST}/share   [R=302,L]

#AlfrescoContentAppDefault#      RewriteCond    %{REQUEST_METHOD}   ^GET$
#AlfrescoContentAppDefault#      RewriteRule    ^/$ https://%{HTTP_HOST}/%CONTENT_APP_BASE_PATH%   [R=302,L]

      ProxyPreserveHost On

      ProxyPassMatch "^/(alfresco(/.*)?|_vti_bin/.*|_vti_inf.html)?$" "http://%REPOSITORY_HOST%:%REPOSITORY_SSL_PORT%/$1"
      ProxyPassReverse "/alfresco" "http://%REPOSITORY_HOST%:%REPOSITORY_SSL_PORT%/alfresco"
#AlfrescoAOS#      ProxyPassReverse "/_vti_bin" "http://%REPOSITORY_HOST%:%REPOSITORY_SSL_PORT%/_vti_bin"

#AlfrescoApiExplorer#      ProxyPass "/api-explorer" "http://%REPOSITORY_HOST%:%REPOSITORY_SSL_PORT%/api-explorer"
#AlfrescoApiExplorer#      ProxyPassReverse "/api-explorer" "http://%REPOSITORY_HOST%:%REPOSITORY_SSL_PORT%/api-explorer"

#AlfrescoShare#      ProxyPass "/share" "http://%SHARE_HOST%:%SHARE_SSL_PORT%/share"
#AlfrescoShare#      ProxyPassReverse "/share" "http://%SHARE_HOST%:%SHARE_SSL_PORT%/share"

#AlfrescoContentApp#      ProxyPass "/%CONTENT_APP_BASE_PATH%" "http://%CONTENT_APP_HOST%:%CONTENT_APP_PORT%/"
#AlfrescoContentApp#      ProxyPassReverse "/%CONTENT_APP_BASE_PATH%" "http://%CONTENT_APP_HOST%:%CONTENT_APP_PORT%/"

#Keycloak#      ProxyPass "/%KEYCLOAK_PATH%" "http://%KEYCLOAK_HOST%:%KEYCLOAK_PORT%/%KEYCLOAK_PATH%"
#Keycloak#      ProxyPassReverse "/%KEYCLOAK_PATH%" "http://%KEYCLOAK_HOST%:%KEYCLOAK_PORT%/%KEYCLOAK_PATH%"

      ProxyPassReverse "/" "http://%REPOSITORY_HOST%:%REPOSITORY_SSL_PORT%/"
   </VirtualHost>
</IfModule>